.wireSequenceModule {
    margin-right: 50px;
    margin-left: 50px;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 0;
}

.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.viewed {
    background-color: black;
}

.reset {
    margin-left: 10%;
    margin-top: 50px;
    text-align: left;
}

    .reset:hover {
        color: red;
        transition: all 0.1s linear;
        cursor:pointer;
    }
