.keypad-table {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    font-size: 2.2em;
    border-style: none;
    text-align: center;
    border-spacing: 3px;
}

.keypad-table-column {
    background-color: #FFF; /*For ensuring photocopy noise doesn't affect symbols*/
	padding: .1em;
}

.keypad-table-spacer {
	border-style: none;
    width: 10px;
}

.keypad-symbol-image {
	height:1.9em;
}