.App {
    text-align: center;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: url('./img/background/background.jpg');
    background-attachment: fixed;
    font-family: 'Special Elite', 'Courier New', monospace;
}

@media print {
    body {
        background: none;
    }
}

.page {
    margin: 1em auto;
    padding: 0;
    border: 1px solid #222; /* Safely using px because exists outside layout of page content */
    box-shadow: #222 0.0em 0em 0.6em;
    clear: both;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 51em; /* = 8.5in at 12pt (1em) */
    min-height: 66em; /* = 11in at 12pt (1em) */
    max-height: 66em;
}

@media print {
    .page {
        margin: 0;
        border: none;
        box-shadow: none;
        max-width: none;
        min-height: initial;
        width: 51em; /* = 8.5in at 12pt (1em) */
        height: 66em; /* = 11in at 12pt (1em) */
        page-break-before: always;
    }
}

.page-bg-01 {
    background-image: url("img/background/page-bg-noise-01.png");
}

.page-bg-02 {
    background-image: url("img/background/page-bg-noise-02.png");
}

.page-bg-03 {
    background-image: url("img/background/page-bg-noise-03.png");
}

.page-bg-04 {
    background-image: url("img/background/page-bg-noise-04.png");
}

.page-bg-05 {
    background-image: url("img/background/page-bg-noise-05.png");
}

.page-bg-06 {
    background-image: url("img/background/page-bg-noise-06.png");
}

.page-bg-07 {
    background-image: url("img/background/page-bg-noise-07.png");
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 20px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}

    .column img {
        padding: 5px 5px 5px 5px;
        vertical-align: middle;
    }

.StickBottom {
    position: fixed;
    bottom: 20px;
    margin-left: 20px;
}

    .StickBottom a {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
